*{
    margin: 0;
    padding: 0;
}

#outer-box{
    background: teal;
     width: 400px;
    height: 400px;
    padding: 50px; 
    box-sizing: border-box;
    
}

#inner-box{
    width: 200px;
    height: 200px;
    background-color: salmon;
    border: 50px solid pink;

}