.container{
    display: block;
    max-width: 600px;
    height: 100%;
    text-align: center;
    border: 1px solid black;
}
.images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.images > img{
    max-width: 300px;
    height: 150px;
}

/* *{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: flex-end;
    align-items: center; 
    width: 800px;
    justify-content: space-evenly;
}

img{
    height: 200px;
}

.enlarged{
    height: 300px;
} */