<!DOCTYPE html>
<html lang="en">
<%- include('../partial/head') %>

    <body>
        <div class="container">
            <form action="" method="post">
                <div class="form-group mt-2 mb-4 d-flex flex-column">
                    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="image"
                        style="max-width: 7rem; max-height: 7rem;">
                    <input type="file" name="avatar" alt="submit" id="avatar" />
                </div>
                <div class="form-group mt-2 mb-4">
                    <label for="username">Username: </label>
                    <input type="text" name="username" autocomplete="additional-name" id="username"/>
                    <p class="nameMessage"></p>
                </div>
                <div class="form-group mt-2 mb-4">
                    <label for="password">Password: </label>
                    <input type="password" name="password" autocomplete="current-password" id="password" />
                    <p class="passwordMessage"></p>
                </div>
                <button class="btn  btn-outline-primary">Submit</button>
            </form>
        </div>

        <script src="./post.js"></script>
    </body>

</html>